<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div style="width:800px;height:100%;margin-left:270px;">
    <form action="/trade-order/update" method="post">
        订单ID：<input class="form-control" name="id" type="text" th:value="${order.id}" readonly="readonly"><br>
        用户名：<input class="form-control" type="text" th:value="${order.userName}" name="userName"><br>
        联系电话：<input class="form-control" type="text" th:value="${order.phone}" name="phone"><br>
        地址：<input class="form-control" type="text" th:value="${order.address}" name="address"><br>
        订单总价：<input class="form-control" type="text" th:value="${order.totalPrice}" name="totalPrice"><br>
        <button class="btn btn-primary btn-lg btn-block" type="submit">提交</button>
    </form>
</div>

</body>
</html>
