<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>

<style>
    a{
        color:#ffffff;
    }
</style>

<body>
<div></div>
<button class="btn btn-primary form-control" style="height:50px"><a th:href="@{'/insertPage'}">添加用户</a></button>
<table class="table table-striped table-bordered table-hover text-center">
    <thead>
    <tr style="text-align:center">
        <th>订单ID</th>
        <th>用户ID</th>
        <th>用户名</th>
        <th>商品总价</th>
        <th>联系人电话</th>
        <th>收货地址</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orders:${orders}">
        <td th:text="${orders.id}"></td>
        <td th:text="${orders.userId}"></td>
        <td th:text="${orders.userName}"></td>
        <td th:text="${orders.totalPrice}"></td>
        <td th:text="${orders.phone}"></td>
        <td th:text="${orders.address}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{'/updatePage/'+${orders.id}}">更改</a>
            <a class="btn btn-danger" th:href="@{'/delete/'+${orders.id}}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
